<div class="fullwidthbanner-container">
	<div class="fullwidthbanner">
		<ul>
			<!-- THE FIRST SLIDE -->
			<li data-transition="3dcurtain-horizontal" data-slotamount="10" data-masterspeed="300" data-thumb="assets/thumbs/thumb1.jpg">
				<!-- THE MAIN IMAGE IN THE FIRST SLIDE-->

				<%= image_tag 'aoh-slide2.jpg' %>
				
			</li>
		</ul>

		<div class="tp-bannertimer"></div>
	</div>
</div> <!--/fullwidthbanner-container-->