<div class="fullwidthbanner-container">
	<div class="fullwidthbanner">
		<ul>
			<!-- THE FIRST SLIDE -->
			<li data-transition="3dcurtain-vertical" data-slotamount="10" data-masterspeed="300" data-thumb="assets/thumbs/thumb1.jpg">
				<!-- THE MAIN IMAGE IN THE FIRST SLIDE-->

				<%= image_tag 'aoh-slide1.jpg' %>
				<!-- THE CAPTIONS IN THIS SLDIE -->
				<div class="caption sfb text_background_black size30 common_color common_fonts line_normal slider_content"
					 data-x="135"
					 data-y="175"
					 data-speed="300"
					 data-start="1500"
					 data-easing="easeOutExpo" >Welcome to </div>
					 
				 <div class="caption sfb text_background_black size30 common_color common_fonts line_normal slider_content"
					 data-x="135"
					 data-y="235"
					 data-speed="300"
					 data-start="2000"
					 data-easing="easeOutExpo">A Simple, Clean and Effective Theme  </div>
					 
				<div class="caption text_background_black sfb size50 common_fonts common_color line_normalslider_content bp"
					 data-x="325"
					 data-y="145"
					 data-speed="300"
					 data-start="3000"
					 data-easing="easeOutExpo">BUZZ</div>	

				<div class="caption sfb size40"
					 data-x="468"
					 data-y="164"
					 data-speed="300"
					 data-start="3500"
					 data-easing="easeOutExpo"><span class="icon-rocket  header-icon"></span></div>														

				<div class="caption randomrotate"
					 data-x="125"
					 data-y="325"
					 data-speed="600"
					 data-start="4000"
					 data-easing="easeOutExpo" ><img src="assets/aoh-slide2.png" alt=""/></div>

						
			</li>

			<!-- THE SECOND SLIDE -->
			<li data-transition="3dcurtain-vertical" data-slotamount="10" data-masterspeed="300" data-thumb="assets/thumbs/thumb1.jpg">
				<!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
				<%= image_tag 'aoh-slide2.jpg' %>

				<!-- THE CAPTIONS IN THIS SLDIE -->
				<div class="caption medium_text sfb"
					 data-x="-190"
					 data-y="0"
					 data-speed="300"
					 data-start="1500"
					 data-easing="easeOutExpo"><a href="#"><img src="assets/slides/00_52.png" alt=""/></a></div>

				<div class="caption sfb white_bg size30 black_color common_fonts line_normal slider_content"
					 data-x="35"
					 data-y="175"
					 data-speed="300"
					 data-start="2000"
					 data-easing="easeOutExpo">Responsive Layout.</div>
					 
				 <div class="caption sfb white_bg size30 black_color common_fonts line_normal slider_content"
					 data-x="35"
					 data-y="245"
					 data-speed="300"
					 data-start="3000"
					 data-easing="easeOutExpo">Mobile Friendly Design.</div>
					 
				<div class="caption medium_text sfb"
					 data-x="35"
					 data-y="315"
					 data-speed="300"
					 data-start="4000"
					 data-easing="easeOutExpo"><a href="#"><img src="assets/slides/00_09.png" alt=""/></a></div>														

				<div class="caption randomrotate"
					 data-x="450"
					 data-y="208"
					 data-speed="600"
					 data-start="5000"
					 data-easing="easeOutExpo"><img src="assets/slides/00_10.png" alt=""/></div>
					 
				<div class="caption randomrotate"
					 data-x="850"
					 data-y="394"
					 data-speed="600"
					 data-start="6000"
					 data-easing="easeOutExpo"><img src="assets/slides/00_13.png" alt=""/></div>
					 
				<div class="caption randomrotate"
					 data-x="455"
					 data-y="122"
					 data-speed="600"
					 data-start="7000"
					 data-easing="easeOutExpo"><img src="assets/slides/00_12.png"  alt=""/></div>
					 
				<div class="caption randomrotate"
					 data-x="310"
					 data-y="306"
					 data-speed="600"
					 data-start="8000"
					 data-easing="easeOutExpo"><img src="assets/slides/00_11.png" alt=""/></div>										
			</li>
		</ul>

		<div class="tp-bannertimer"></div>
	</div>
</div> <!--/fullwidthbanner-container-->