<div class="fullwidthbanner-container">
	<div class="fullwidthbanner">

		<ul>
			<li data-transition="turnoff">
		 		<%= image_tag 'banner3.jpg', alt: "aoh-banner", id: "banner" %>		 			 			
			</li>
		</ul>

		<div class="tp-bannertimer"></div>
		 		
	</div>
</div> 

