<ul class="nav navbar-nav navbar-right">
	<br>
	<br>
	<li>
		<%= link_to 'Home', root_path %>
	</li>

	<li>
		<a href="#donate"><%= t('.link2', default: 'Donate') %></a>
	</li>

	<li>
		<a href="#donate">Contact Us</a>
	</li>

	<li>
		<a href="#footer">Friends</a>
	</li>

</ul>