<div class="col-wrap col-gray" id="donate">
	<div class="container ">
    <div class="row-fluid tb-mar">

      <div class="span12">
				<div class="subscrib homesub">
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						
						<h1><%= t('.heading_donate', default: 'Donate to Anglers Of Honor') %></h1>
			  	  
						<div class="hr hr-center"> 
							<span class="hr-inner">
								<span class="hr-inner-style"></span>
							</span>
						</div>
						
						<p><%= t('.text_donate', default: "Please click the Donate button below. You will be routed to the PayPal website where you can use your credit card or PayPal account to contribute. Please note that you do not need to have a PayPal account to make a donation.") %>
							
						</p>	
						<p>
							
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="XP8W5XXEWK6HE">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
							
						<p></p>
					</form>
				</div>
    	</div>
    </div>	
	</div>
</div>