<div class="footerbox col-shadow">
			<div class="container">
					<div class="fbox">	

						<h2>Get in Touch</h2>
					<!--   hr-Start-->	
				<div class="hr hr-left hr-light"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
					<span class="hr-inner">
						<span class="hr-inner-style"></span>
					</span>
				</div>
					<!--   hr-Close-->
					
						<address>
							<p><span class="icon-house"></span>PO Box 3053, Denver, CO 80201</p>
							<p><span class="icon-phone"></span>800-882-4314</p>
							<p><span class="icon-mail"></span>admin@anglersofhonor.com</p>
						</address>	<!--fpost_close-->

					</div>	<!--fpost_close-->	

					<div class="fbox last right">	

					<h2>Friends</h2>
				<!--   hr-Start-->	
			<div class="hr hr-left hr-light"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
				<span class="hr-inner">
					<span class="hr-inner-style"></span>
				</span>
			</div>
			  
        <ul>
          <li><%= link_to 'Home', root_url %></li>
          <li><%= link_to 'Angling University', "http://www.anglinguniversity.com" %></li>
          <li><%= link_to 'Lincoln Hills', "http://www.lincolnhills.com" %></li>
          <li><%= link_to 'The Fly Fisher Group', "http://www.theflyfisher.com" %></li>
        </ul> 

					</div>	<!--fpost_close-->						

				<div class="clear"></div>

			</div><!--Wrap_close-->	
	</div>			