<div class="col-wrap"><!-- style col-shadow/ col-gray/ testimonial/-->
	<div class="container ">
<div class="row-fluid  t-mar">
<h1>Who We Are</h1>	
				<!--   hr-Start-->	
			<div class="hr hr-left hr-short"> <!--   hr-center/ hr-left/ hr-right/  hr-short/ hr-light/-->
				<span class="hr-inner">
					<span class="hr-inner-style"></span>
				</span>
			</div>
				<!--   hr-Close-->

<br/>

	</div><!-- /.row -->

      <!-- Two columns of text below the Box -->
      <div class="row-fluid">
        <div class="span4">

			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2></span>Mission</h2>
			  <p>To make available the mind, body, and flow of nature through angling.</p>

			</div>
        </div>

        <div class="span4">

			<div class="service2"> <!-- box-style row Class .box-style -->
				<h2><span class="icon-feather"></span>The Concept</h2>
			<p>Experience the relaxing powers of fly fishing; find retreat in the river.</p>
			  
			</div>
        </div>

        <div class="span4">

			<div class="service2"> <!-- box-style row Class .box-style -->
				<h2><span class=" icon-code"></span>Omie</h2>
			 <p>Water nymph from Greco-Roman mythology. Protects the natural balance of the river and your relationship with Mother Nature.</p>
			  

			</div><!-- /.spanin -->
        </div><!-- /.span4           3-->		

      </div><!-- /.row -->

      <!-- Two columns of text below the Box -->
      <div class="row-fluid">

        <div class="span4">

			<div class="service2"> <!-- box-style row Class .box-style -->
				<h2><span class=" icon-docs"></span>Who We Serve</h2>
			  <p>The Anglers of Honor Program is dedicated to veterans, active military personnel, and their families.</p>
			  
			</div><!-- /.spanin -->
        </div><!-- /.span4              4-->	

        <div class="span4">

			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2><span class="icon-flag"></span>Why We Serve</h2>
			  <p>Our military personnel have dedicated thier lives to protect our country. It's our honor and obligation to serve them.</p>

			</div>
        </div>	

        <div class="span4">

			<div class="service2"> <!-- box-style row Class .box-style -->

			  <h2><span class="icon-archive"></span>How We Serve</h2>
			  <p>Through our specialized programs, we provide access to a world-class fishery and customized equipment.</p>

			</div><!-- /.spanin -->
        </div><!-- /.span4                 6-->	


      </div><!-- /.row -->	
	</div><!-- /.container -->
</div><!-- /.col -->	
