<div class="navbar-wrapper">
  <div class="container">
		<div class="logo">
		    <a class="brand" href="#"><img src="assets/aoh.jpg" alt=""/></a>
		</div>						

		<div class="follower">
			<ul>
				<li><a class="fr" href="#"><span class="icon-plus-3 add"></span>Follow</a>
					<div class="follow-list"> 
						<ul>
							<li class="s-facebook"><a href="#"><span class="icon-facebook"></span>Facebook</a></li>
							<li class="s-twitter"><a href="#"><span class="icon-twitter"></span>Twitter</a></li>
						</ul>
					</div>						
				</li>
			</ul>
		</div>		

		<div id="main-menu">
			<ul class="sf-menu color-m">
				<li>
					<%= link_to '<span class="icon-house"></span>Home'.html_safe, '#' %>
				</li>
				
				<li>
					<a href="#" id="overview-tab"><span class="icon-layout "></span>Overview</a>
					<ul>
						<li><a href="#" class=" color" id="overview">The Program</a></li>
						<li><a href="#" class=" color" id="fishery-section">The Fishery</a></li>
						<li><a href="#" class=" color" id="river-deep-section">River Deep</a></li>
					</ul>	
				</li>

				<li>
					<a href="#"><span class="icon-docs"></span>Friends</a>	
					<ul>			  
					<li><%= link_to 'Angling University', "http://www.anglinguniversity.com", class: "color", target: "_blank" %></li>
          <li><%= link_to 'Lincoln Hills', "http://www.lincolnhills.com", class: "color", target: "_blank" %></li>
          <li><%= link_to 'The Fly Fisher Group', "http://www.theflyfisher.com", class: "color", target: "_blank"%></li>	
          </ul>		
				</li>
			</ul>  
		</div>
	</div>
</div>